@namespace url(http://www.w3.org/1999/xhtml);

/* 10.3 Non-replaced elements */
/* 10.3.1 Hidden elements */
[hidden],
area,
base,
datalist,
head,
link,
meta,
param,
script,
source,
style,
template,
track,
title {
	display : none
}

embed[hidden] {
	display : inline;
	height : 0;
	width : 0
}

/* 10.3.2 The page */
html,
body {
	display : block
}

/* 10.3.3 Flow content */
address,
blockquote,
div,
figure,
figcaption,
footer,
form,
header,
hr,
legend,
p,
pre {
	display : block
}

blockquote,
figure,
p,
pre {
	margin-bottom : 1em;
	margin-top : 1em

}

blockquote,
figure {
	margin-left : 40px;
	margin-right : 40px
}

address {
	font-style : italic
}
pre {
	font-family : monospace;
	white-space : pre
}

/* 10.3.4 Phrasing content */

cite,
dfn,
em,
var {
	font-style : italic
}

strong {
	font-weight : bolder
}

code,
kbd,
samp {
	font-family : monospace
}

sub {
	vertical-align : sub
}

sup {
	vertical-align : super
}

sub,
sup {
	font-size : smaller;
	line-height : normal
}

:link {
	color : #0000EE
}

:visited {
	color : #551A8B
}

:link,
:visited {
	text-decoration : underline
}

a:link[rel~=help],
a:visited[rel~=help],
area:link[rel~=help],
area:visited[rel~=help] {
	cursor : help
}

:focus {
	outline : auto
}

mark {
	background : yellow;
	color : black
} /* this color is just a suggestion and can be changed based on implementation feedback */

abbr[title],
acronym[title] {
	text-decoration : dotted underline
}

ins {
	text-decoration : underline
}

del {
	text-decoration : line-through
}

q::after {
	content : close-quote
}

q::before {
	content : open-quote
}

br {
	content : '\A';
	white-space : pre
}

nobr {
	white-space : nowrap
}

wbr {
	content : '\200B'
}

nobr wbr {
	white-space : normal
}

blockquote mark {
	background-color : inherit;
	color : inherit;
	font-style : italic
}

blockquote mark::after {
	content : ']'
}

blockquote mark::before {
	content : '['
}

/* 10.3.6 Quotes */
:root:lang(en),
:not(:lang(en)) > :lang(en) {
	quotes : '\201c' '\201d' '\2018' '\2019'
} /* “ ” ‘ ’ */

/* 10.3.7 Sections and headings */
article,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
section {
	display : block
}

h1 {
	font-size : 2em;
	font-weight : bold;
	margin-bottom : .67em;
	margin-top : .67em
}

h2 {
	font-size : 1.50em;
	font-weight : bold;
	margin-bottom : .83em;
	margin-top : .83em
}

h3 {
	font-size : 1.17em;
	font-weight : bold;
	margin-bottom : 1em;
	margin-top : 1em
}

h4 {
	font-size : 1em;
	font-weight : bold;
	margin-bottom : 1.33em;
	margin-top : 1.33em
}

h5 {
	font-size : .83em;
	font-weight : bold;
	margin-bottom : 1.67em;
	margin-top : 1.67em
}

h6 {
	font-size : .67em;
	font-weight : bold;
	margin-bottom : 2.33em;
	margin-top : 2.33em
}

:matches(article, aside, nav, section) h1 {
	font-size : 1.50em;
	margin-bottom : .83em;
	margin-top : .83em
}

:matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
	font-size : 1.17em;
	margin-bottom : 1em;
	margin-top : 1em
}

:matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
	font-size : 1em;
	margin-bottom : 1.33em;
	margin-top : 1.33em
}

:matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
	font-size : .83em;
	margin-bottom : 1.67em;
	margin-top : 1.67em
}
:matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
	font-size : .67em;
	margin-bottom : 2.33em;
	margin-top : 2.33em
}

/* 10.3.8 Lists */
dd,
dl,
dt,
ol,
ul {
	display : block
}

li {
	display : list-item
}

dl,
ol,
ul {
	margin-bottom : 1em;
	margin-top : 1em
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	margin-bottom : 0;
 	margin-top : 0
}

dd {
	margin-left : 40px
}

ol,
ul {
	padding-left : 40px
}

ol {
	list-style-type : decimal
}

ul {
	list-style-type : disc
}


ol ul,
ul ul {
	list-style-type : circle
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
	list-style-type : square
}

ol[type="1"],
li[type="1"] {
	list-style-type : decimal
}

ol[type=a],
li[type=a] {
	list-style-type : lower-alpha
}

ol[type=A],
li[type=A] {
	list-style-type : upper-alpha
}

ol[type=i],
li[type=i] {
	list-style-type : lower-roman
}

ol[type=I],
li[type=I] {
	list-style-type : upper-roman
}

ul[type=disc],
li[type=disc] {
	list-style-type : disc
}

ul[type=circle],
li[type=circle] {
	list-style-type : circle
}

ul[type=square],
li[type=square] {
	list-style-type : square
}

/* 10.3.9 Tables */
table {
	display : table
}

caption {
	display : table-caption
}

colgroup,
colgroup[hidden] {
	display : table-column-group
}

col,
col[hidden] {
	display : table-column
}

thead,
thead[hidden] {
	display : table-header-group
}

tbody,
tbody[hidden] {
	display : table-row-group
}

tfoot,
tfoot[hidden] {
	display : table-footer-group
}

tr,
tr[hidden] {
	display : table-row
}
td,
th,
td[hidden],
th[hidden] {
	display : table-cell
}

colgroup[hidden],
col[hidden],
thead[hidden],
tbody[hidden],
tfoot[hidden],
tr[hidden],
td[hidden],
th[hidden] {
	visibility : collapse
}

table {
	border-collapse : separate;
	border-spacing : 2px;
	box-sizing : border-box;
	text-indent : initial
}

td,
th {
	padding : 1px
}

th {
	font-weight : bold
}

thead,
tbody,
tfoot,
table > tr {
	vertical-align : middle
}

tr,
td,
th {
	vertical-align : inherit
}

table,
td,
th {
	border-color : gray
}

thead,
tbody,
tfoot,
tr {
	border-color : inherit
}

table[rules=none],
table[rules=groups],
table[rules=rows],
table[rules=cols],
table[rules=all],
table[frame=void],
table[frame=above],
table[frame=below],
table[frame=hsides],
table[frame=lhs],
table[frame=rhs],
table[frame=vsides],
table[frame=box],
table[frame=border],
table[rules=none] > tr > td,
table[rules=none] > tr > th,
table[rules=groups] > tr > td,
table[rules=groups] > tr > th,
table[rules=rows] > tr > td,
table[rules=rows] > tr > th,
table[rules=cols] > tr > td,
table[rules=cols] > tr > th,
table[rules=all] > tr > td,
table[rules=all] > tr > th,
table[rules=none] > thead > tr > td,
table[rules=none] > thead > tr > th,
table[rules=groups] > thead > tr > td,
table[rules=groups] > thead > tr > th,
table[rules=rows] > thead > tr > td,
table[rules=rows] > thead > tr > th,
table[rules=cols] > thead > tr > td,
table[rules=cols] > thead > tr > th,
table[rules=all] > thead > tr > td,
table[rules=all] > thead > tr > th,
table[rules=none] > tbody > tr > td,
table[rules=none] > tbody > tr > th,
table[rules=groups] > tbody > tr > td,
table[rules=groups] > tbody > tr > th,
table[rules=rows] > tbody > tr > td,
table[rules=rows] > tbody > tr > th,
table[rules=cols] > tbody > tr > td,
table[rules=cols] > tbody > tr > th,
table[rules=all] > tbody > tr > td,
table[rules=all] > tbody > tr > th,
table[rules=none] > tfoot > tr > td,
table[rules=none] > tfoot > tr > th,
table[rules=groups] > tfoot > tr > td,
table[rules=groups] > tfoot > tr > th,
table[rules=rows] > tfoot > tr > td,
table[rules=rows] > tfoot > tr > th,
table[rules=cols] > tfoot > tr > td,
table[rules=cols] > tfoot > tr > th,
table[rules=all] > tfoot > tr > td,
table[rules=all] > tfoot > tr > th {
	border-color : black;
}

thead[valign=top],
tbody[valign=top],
tfoot[valign=top],
tr[valign=top],
td[valign=top],
th[valign=top] {
	vertical-align : top
}

thead[valign=middle],
tbody[valign=middle],
tfoot[valign=middle],
tr[valign=middle],
td[valign=middle],
th[valign=middle] {
	vertical-align : middle
}

thead[valign=bottom],
tbody[valign=bottom],
tfoot[valign=bottom],
tr[valign=bottom],
td[valign=bottom],
th[valign=bottom] {
	vertical-align : bottom
}

thead[valign=baseline],
tbody[valign=baseline],
tfoot[valign=baseline],
tr[valign=baseline],
td[valign=baseline],
th[valign=baseline] {
	vertical-align : baseline
}

td[nowrap],
th[nowrap] {
	white-space : nowrap
}

table[rules=none],
table[rules=groups],
table[rules=rows],
table[rules=cols],
table[rules=all] {
	border-collapse  : collapse;
	border-style : hidden
}

table[border] {
	border-style : outset
}/* only if border is not equivalent to zero */

table[frame=void] {
	border-style : hidden
}
table[frame=above] {
	border-style : outset hidden hidden hidden
}
table[frame=below] {
	border-style : hidden hidden outset hidden
}
table[frame=hsides] {
	border-style : outset hidden outset hidden
}
table[frame=lhs] {
	border-style : hidden hidden hidden outset
}
table[frame=rhs] {
	border-style : hidden outset hidden hidden
}
table[frame=vsides] {
	border-style : hidden outset
}
table[frame=box],
table[frame=border] {
	border-style : outset
}

table[border] > tr > td,
table[border] > tr > th,
table[border] > thead > tr > td,
table[border] > thead > tr > th,
table[border] > tbody > tr > td,
table[border] > tbody > tr > th,
table[border] > tfoot > tr > td,
table[border] > tfoot > tr > th {
  /* only if border is not equivalent to zero */
	border-style : inset;
	border-width : 1px
}

table[rules=none] > tr > td,
table[rules=none] > tr > th,
table[rules=none] > thead > tr > td,
table[rules=none] > thead > tr > th,
table[rules=none] > tbody > tr > td,
table[rules=none] > tbody > tr > th,
table[rules=none] > tfoot > tr > td,
table[rules=none] > tfoot > tr > th,
table[rules=groups] > tr > td,
table[rules=groups] > tr > th,
table[rules=groups] > thead > tr > td,
table[rules=groups] > thead > tr > th,
table[rules=groups] > tbody > tr > td,
table[rules=groups] > tbody > tr > th,
table[rules=groups] > tfoot > tr > td,
table[rules=groups] > tfoot > tr > th,
table[rules=rows] > tr > td,
table[rules=rows] > tr > th,
table[rules=rows] > thead > tr > td,
table[rules=rows] > thead > tr > th,
table[rules=rows] > tbody > tr > td,
table[rules=rows] > tbody > tr > th,
table[rules=rows] > tfoot > tr > td,
table[rules=rows] > tfoot > tr > th {
	border-style : none;
	border-width : 1px
}

table[rules=cols] > tr > td,
table[rules=cols] > tr > th,
table[rules=cols] > thead > tr > td,
table[rules=cols] > thead > tr > th,
table[rules=cols] > tbody > tr > td,
table[rules=cols] > tbody > tr > th,
table[rules=cols] > tfoot > tr > td,
table[rules=cols] > tfoot > tr > th {
	border-style : none solid;
	border-width : 1px
}

table[rules=all] > tr > td,
table[rules=all] > tr > th,
table[rules=all] > thead > tr > td,
table[rules=all] > thead > tr > th,
table[rules=all] > tbody > tr > td,
table[rules=all] > tbody > tr > th,
table[rules=all] > tfoot > tr > td,
table[rules=all] > tfoot > tr > th {
	border-style : solid;
	border-width : 1px
}

table[rules=groups] > colgroup {
	border-left-style : solid;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-width : 1px
}

table[rules=groups] > thead,
table[rules=groups] > tbody,
table[rules=groups] > tfoot {
	border-top-style : solid;
	border-top-width : 1px;
	border-bottom-style : solid;
	border-bottom-width : 1px
}

table[rules=rows] > tr,
table[rules=rows] > thead > tr,
table[rules=rows] > tbody > tr,
table[rules=rows] > tfoot > tr {
	border-top-style : solid;
	border-top-width : 1px;
	border-bottom-style : solid;
	border-bottom-width : 1px
}

/* 10.3.11 Form controls */
input,
select,
option,
optgroup,
button,
textarea,
keygen {
	text-indent : initial
}

textarea {
	white-space : pre-wrap
}

input[type="radio"],
input[type="checkbox"],
input[type="reset"],
input[type="button"],
input[type="submit"],
select,
button {
	box-sizing : border-box
}

/* 10.3.12 The hr element */
hr {
	border-style : inset;
	border-width : 1px;
	color : gray;
	margin: .5em auto
}

hr[color], hr[noshade] {
	border-style : solid
}

/* 10.3.13 The fieldset and legend elements */
fieldset {
	border : groove 2px;
	margin-left : 2px;
	margin-right : 2px;
	padding : .35em .625em .75em
}

legend {
	padding-left : 2px;
	padding-right : 2px
}

/* 10.4 Replaced elements */
/* 10.4.1 Embedded content */
iframe {
	border : 2px inset
}

video {
	object-fit : contain
}

/* 10.4.3 Attributes for embedded content and images */
iframe[frameborder=no] {
	border : none
}