@charset "UTF-8";

@namespace "http://www.w3.org/1999/xhtml";

/* # =================================================================
   # 10.3 Non-replaced elements
   # ================================================================= */
/*
10.3.1 Hidden elements
*/
area,
base,
datalist,
head,
link,
meta,
param,
script,
source,
style,
template,
title,
track,
[hidden] {
	display : none
}

embed[hidden] {
	display : inline;
	height : 0;
	width : 0
}

/*
10.3.2 The page
*/
body,
html {
	display : block
}

html {
	font : normal normal normal 125%/#{$baseline} $body-font-family;
	margin : 0;
	padding : 0
}

body {
	margin : #{$baseline}rem auto;
	max-width : 40em /* This is for a single column, can be changed for wider displays */;
	padding : 0 #{$baseline}em /* Padding sufficient to create space on the left for list markers */
}

/*
10.3.3 Flow content
*/
address,
div,
hr,
p,
pre {
	display : block
}

address {
	font-family : inherit /* Nullify common user-agent monospace default */;
	font-style : inherit /* Nullify common user-agent italic default */
}

address + p,
address + .serial-comma,
p + address,
p + p,
p + .serial-comma,
.serial-comma + address,
.serial-comma + p,
.serial-comma + .serial-comma {
	text-indent : #{$baseline}em
}

address,
article > footer,
figcaption,
p,
blockquote > footer,
header > * /* Remove margins for elements within headers */,
.serial-comma {
	margin-bottom : 0;
	margin-top : 0
}

blockquote,
footer,
nav,
.subtitle {
	line-height : #{$baseline}rem
}

blockquote,
footer,
nav {
	font-size : .85em
}

blockquote,
div,
figure,
hr,
pre {
	margin-bottom : #{$baseline}rem;
	margin-top : #{$baseline}rem
}

blockquote {
	margin-left : #{$baseline}rem;
	margin-right : #{$baseline}rem
}

blockquote footer {
	font-size : inherit
}

article footer::before,
blockquote footer::before {
	content : ""
}

dd,
figure {
	margin-left : 0;
	margin-right : 0
}

figure > img,
figure > object {
	display : block
}

blockquote,
figure {
	display : table /* Shrink element to the size of its contents and enable the table caption display options */
}

figcaption,
blockquote > footer {
	caption-side : bottom /* Move the caption to the bottoms of the content */;
	display : table-caption /* Confine caption to the width of its parent */
}

pre {
	font-family : inherit /* Nullify common user-agent monospace default pre might be used for body text whose whitespace layout is significant such as some forms of poetry */;
	white-space : pre-line /* Preserve whitespace whilst preventing element from stretching width of parent element */;
	word-break : normal /* Preserve whitespace whilst preventing element from stretching width of parent element */
}

/*
10.3.4 Phrasing content
*/
cite,
dfn,
em,
var {
	font-style : italic
}

code,
kbd,
samp,
sub,
sup {
	font-size : .85em
}

em cite::after,
em dfn::after {
	content : "’"
}

em cite::before,
em dfn::before {
	content : "‘"
}

strong,
em em {
	font-weight : inherit /* Nullify common user-agent bold default */;
	text-transform : uppercase
}

strong,
em em,
.initialism {
	font-size : .9em
}

strong strong {
	font-size : inherit
}

code,
.code-quote {
	background-color : darken($background-colour, 2.5);
	color : inherit
}

.code-quote code {
	background-color : initial;
	color : initial
}

code,
mark {
	border-radius : .5em 2em .5em /* Creates a slanted background to suggest a marker-pen has been dragged right to left across the text */;
	margin : 0 -.15em /* Removes the horizontal space created by the following padding */;
	padding : 0 .15em /* Creates horizontal space so that the background colour expands outwards from the text */
}

.code-quote {
	border-radius : .5em
}

code,
kbd,
samp {
	font-family : $code-font-family;
	white-space : pre-wrap /* Preserve whitespace whilst preventing element from stretching width of parent element */;
	word-break : break-all /* Preserve whitespace whilst preventing element from stretching width of parent element */
}

code,
h1,
h2,
kbd,
samp {
	letter-spacing : -.025em /* Tighten large headings and fixed-width text */;
	word-spacing : -.025em /* Tighten large headings and fixed-width text */
}

code code,
code kbd,
code samp,
kbd code,
kbd kbd,
kbd samp,
samp code,
samp kbd,
samp samp,
h1 code,
h1 kbd,
h1 samp,
h2 code,
h2 kbd,
h2 samp {
	letter-spacing : inherit /* Prevent tightened text from cascading */;
	word-spacing : inherit /* Prevent tightened text from cascading */
}

sub,
sup {
	line-height : 0 /* Elements that have a ‘vertical-align’ other than baseline or a position value will expand their parent element’s line-height unless their own line-height is set to ‘0’ */;
	position : relative;
	vertical-align : baseline /* Nullify common user-agent ‘sub’ and ‘super’ defaults */
}

sub {
	bottom : -.1em
}

sup {
	top : -.1em
}

/*
Links L.V.H.A.
*/
a:link,
a:visited,
a:active {
	color : inherit;
	background-color : initial
}

a:link { /* Unvisited links */
	border-bottom : thin solid $link-colour;
	padding-bottom : .005em;
	text-decoration : none;
	transition : color .25s ease
}

a:visited { /* Visited links */
	border-color : $link-colour-visited
}

a:hover {
	color : $link-colour;
	background-color : initial
}

a:visited:hover {
	color : $link-colour-visited;
	background-color : initial
}

a:active { /* As a link is activated. Moves the text down as though a button were depressed */
	position : relative;
	top : .1em
}

abbr[title],
[rel~=help] {
	cursor : help
}

:focus {
	outline : auto
}

mark {
	background : rgba(255, 248, 220, 1) /*Cornsilk */;
	color : inherit
}

abbr,
abbr[title] {
	text-decoration : inherit /* Nullify common user-agent dotted underline default */
}

ins {
	text-decoration : underline
}

del {
	background-color : inherit;
	color : inherit;
	text-decoration : line-through;
	-moz-text-decoration-color : red;
	-webkit-text-decoration-color : red;
	text-decoration-color : red
}

q::after {
	content : close-quote
}

q::before {
	content : open-quote
}

br {
	content : '\A';
	white-space : pre
}

nobr {
	white-space : nowrap
}

wbr {
	content : '\200B'
}

nobr wbr {
	white-space : normal
}

blockquote mark {
	background-color : inherit;
	color : inherit;
	font-style : italic;
	margin : initial /* Reset the margins set on mark outside of blockquotes */;
	padding : initial /* Reset the padding set on mark outside of blockquotes */
}

blockquote mark::after {
	content : ']'
}

blockquote mark::before {
	content : '['
}

/*
10.3.6 Quotes
*/
:root:lang(en),
:not(:lang(en)) > :lang(en) {
	quotes : '“' '”' "‘" "’"
}

/*
10.3.7 Sections and headings
*/
article,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
section {
	display : block
}

article,
aside,
section {
	margin-bottom : #{$baseline}rem;
	margin-top : #{$baseline}rem
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
th,
[role=banner] {
	font-family : $heading-font-family;
	font-weight : inherit
}

h1,
h2,
h3 {
	line-height : 2.8rem
}

h1,
h2,
h3,
header /* Header selector assumes that only h1–h3 appear in header elements */,
footer {
	margin : #{$baseline * 2}rem 0 #{$baseline}rem 0
}

h1 {
	font-size : 2.55em
}

h2 {
	font-size : 2.35em
}

h3 {
	font-size : 2.15em
}

h4,
h5,
h6 {
	line-height : #{$baseline}rem;
	margin : #{$baseline}rem 0 0
}

h4,
.subtitle {
	font-size : 1.3em
}

h5 {
	font-size : 1.15em
}

h6 {
	font-size : inherit /* Same as ancestor’s font-size */
}

header h1,
header h2,
header h3 {
	margin : #{$baseline / 2}rem 0
}

header p {
	text-indent : initial
}

.subtitle {
	font-style : italic;
	margin : 0 0 #{$baseline}rem 0
}

/*
10.3.8 Lists
*/
dd,
dl,
dt,
ol,
ul {
	display : block
}

dl,
ol,
ul {
	margin : #{$baseline}rem 0 /* Negative margin creates space for hanging indentation */;
	padding : 0
}

li {
	display : table /* Needed to enable “table-cell” display on “li::before” */;
	list-style : none /* Remove automatic markers */;
	position : relative /* This allows the top–nesting-level of lists to have their markers absolutely positioned into the margin of their parent element */
}

dl dl,
dl ol,
dl ul,
ol > li > dl,
ol > li > ol,
ol > li > ul,
ul > li > dl,
ul > li > ol,
ul > li > ul { /* Remove vertical margins for nested lists */
	margin : 0
}

li::before {
	display : table-cell; /* Means that the marker is placed outside of item text */
	left : -1.4em; /* For top level only, equal to the horizontal padding on the body element minus the same “.2em” as the padding on nested list items below */
	width : 1.2em; /* For top level only, creates space for list items up to “999” and enables “text-align : right” */
	position : absolute;
	text-align : right /* For top level only, my personal preference for the variable width list numbers within the top level of an ordered list */
}

ul > li::before {
	font-size : .8em
}

ul > li::before {
	content : "➢"
}

ul > li > ul > li::before {
	content : "✽"
}

ul > li > ul > li > ul > li::before {
	content : "✦"
}

ul > li > ul > li > ul > li > ul > li::before {
	content : "✯"
}

ul > li > ul > li > ul > li > ul > li > ul > li::before {
	content : "✤"
}

/*
Ordered lists
*/
ol > li:first-child {
	counter-reset : item
}

ol > li::before {
	content : counter(item) ". ";
	counter-increment : item;
	letter-spacing : -.025em
}

ol > li > ol > li::before {
	content : counters(item, ".") ". " /* It is necessary to specify ‘counter’ for top level ordered lists and then ‘counters’ for nested ordered lists to be able to display a properly numbered ordered list within an unordered list */
}

li > ol > li::before,
li > ul > li::before {
	padding-right : .2em;
	position : static; /* Undo the positioning for top level items */
	text-align : initial;
	width : auto
}

/*
Inline style serial comma list for list items which are children of ordered or unordered lists with the class “serial-comma”
*/
.serial-comma > li {
	display : inline;
	list-style : none
}

.serial-comma > li::after {
	content : ", "
}

.serial-comma > li:nth-last-child(2)::after {
	content : " and "
}

.serial-comma > li:nth-last-child(3) ~ li:nth-last-child(2)::after {
	content : ", and "
}

.serial-comma > li:last-child::after,
.serial-comma > li:only-child::after {
	content : "."
}

[role=banner] [role=navigation] li::before,
.serial-comma > li::before {
	display : none /* Turn off generated content lists */
}

[role=navigation] ol,
.serial-comma {
	padding : 0
}

/*
10.3.9 Tables
*/
table {
	border-collapse : collapse;
	border-spacing : 0;
	box-sizing : border-box;
	display : table;
	margin : #{$baseline}rem 0 #{$baseline}rem -.5rem /* Minus margin offsets the ‘td’ and ‘th’ margins */;
	text-indent : initial
}

caption {
	display : table-caption;
	text-align : inherit /* Nullify common user-agent centre alignment default */
}

colgroup,
colgroup[hidden] {
	display : table-column-group
}

col,
col[hidden] {
	display : table-column
}

tbody,
tbody[hidden] {
	display : table-row-group
}

td,
th,
td[hidden],
th[hidden] {
	display : table-cell
}

tfoot,
tfoot[hidden] {
	display : table-footer-group
}

thead,
thead[hidden] {
	display : table-header-group
}

tr,
tr[hidden] {
	display : table-row
}

colgroup[hidden],
col[hidden],
tbody[hidden],
td[hidden],
tfoot[hidden],
th[hidden],
thead[hidden],
tr[hidden] {
	visibility : collapse
}

caption,
td,
th {
	padding : 0 .5em
}

tbody,
tfoot,
thead,
table > tr {
	vertical-align : middle
}

td,
th,
tr {
	vertical-align : inherit
}

table {
	border-color : gray
}

tbody,
td,
tfoot,
th,
thead,
tr {
	border-color : inherit
}


/*
10.3.12 The hr element
*/
hr {
	background : transparent linear-gradient(to right, $background-colour/* White */, $base-colour/* Medium grey */, $background-colour/* White */);
	border : none /* Nullifies common user agent default */;
	color : inherit;
	height : .052em;
	position : relative;
	text-align : center
}

footer::before,
hr::before,
[role=contentinfo]::before {
	background-color : $background-colour;
	color : inherit;
	content : "⁂";
	display : block;
	position : relative;
	text-align : center;
	top : -.5em
}

/* # =================================================================
   # 10.4 Replaced elements
   # ================================================================= */
/*
10.4.1 Embedded content
*/
iframe {
	border : none /* Nullify common user-agent defaults (2px inset) */
}

img,
object {
	max-width : 100%;
	height : auto
}

video {
	object-fit : contain
}