@charset "UTF-8";
@namespace "http://www.w3.org/1999/xhtml";

/* 10.3 Non-replaced elements */
/* 10.3.1 Hidden elements */
area,
base,
datalist,
head,
link,
meta,
param,
script,
source,
style,
template,
title,
track,
[hidden] {
	display : none
}

embed[hidden] {
	display : inline;
	height : 0;
	width : 0
}

/* 10.3.2 The page */
body,
html {
	display : block
}

html {
	background-color : rgb(250, 250, 250);
	color : rgb(51,51,51);/* Very dark grey */
	font : normal normal normal 125%/1.4 Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	/* George Butler Web Design—10 Definitve Web Font Stacks for designers
http://georgebutler.com/blog/typography/10-definitive-web-font-stacks-for-designers/ */
/* Display Serifs
(Delicate details. Best seen at large sizes) */
	margin : 0;
	padding : 0
}

body {
	margin : 1.4rem auto;
	max-width : 40em; /* This is for a single column, can be changed for wider displays */
	padding : 0 1.4em /* Padding sufficient to create space on the left for list markers */
}

/* 10.3.3 Flow content */
address,
div,
form,
hr,
legend,
p,
pre {
	display : block
}

address {
	font-family : inherit; /* Nullify common user-agent monospace default */
	font-style : inherit /* Nullify common user-agent italic default */
}

address + p,
address + .serial-comma,
p + address,
p + p,
p + .serial-comma,
.serial-comma + address,
.serial-comma + p,
.serial-comma + .serial-comma {
	text-indent : 1.4em
}

address,
article > footer,
figcaption,
p,
blockquote > footer,
header > *, /* Remove margins for elements within headers */
.serial-comma {
	margin-bottom : 0;
	margin-top : 0
}

blockquote,
footer,
nav {
	line-height : 1.4rem
}

blockquote,
footer,
nav {
	font-size : .85em
}

blockquote,
div,
figure,
form,
hr,
legend,
pre {
	margin-bottom : 1.4rem;
	margin-top : 1.4rem
}

blockquote {
	margin-left : 1.4rem;
	margin-right : 1.4rem
}

blockquote footer {
	font-size : inherit
}

article footer::before,
blockquote footer::before {
	content : ""
}

dd,
figure {
	margin-left : 0;
	margin-right : 0
}

figure > img,
figure > object {
	display : block
}
blockquote,
figure {
	display : table
}

figcaption,
blockquote > footer {
	caption-side : bottom;
	display : table-caption
}

pre {
	font-family : inherit; /* Nullify common user-agent monospace default pre might be used for body text whose whitespace layout is significant such as some forms of poetry */
	white-space : pre-line; /* Preserve whitespace whilst preventing element from stretching width of parent element */
	word-break : normal /* Preserve whitespace whilst preventing element from stretching width of parent element */
}

/* 10.3.4 Phrasing content */

cite,
dfn,
em,
var {
	font-style : italic
}

code,
kbd,
samp,
sub,
sup {
	font-size : .85em
}

em cite::after,
em dfn::after {
	content : "’"
}

em cite::before,
em dfn::before {
	content : "‘"
}

strong,
em em {
	font-weight : inherit; /* Nullify common user-agent bold default */
	text-transform : uppercase
}

strong,
em em,
.initialism {
	font-size : .9em
}

strong strong {
	font-size : inherit
}

code,
.code-quote {
	background-color : rgba(0, 0, 0, 0.04); /* Light grey */
	color : inherit
}

.code-quote code {
	background-color : initial;
	color : initial
}

code,
mark {
	border-radius : .5em 2em .5em /* Creates a slanted background to suggest a marker-pen has been dragged right to left across the text */
}

code,
mark,
.code-quote {
	margin : 0 -.15em;/* Removes the horizontal space created by the following padding */
	padding : 0 .15em/* Creates horizontal space so that the background colour expands outwards from the text */
}

.code-quote {
	border-radius : .5em
}

code,
kbd,
samp {
	font-family : Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
/* George Butler Web Design—10 Definitve Web Font Stacks for designers
http://georgebutler.com/blog/typography/10-definitive-web-font-stacks-for-designers/ */
/* Clear Code
(The best monospaced fonts. Easy on a developer’s weary eyes) */
	white-space : pre-wrap; /* Preserve whitespace whilst preventing element from stretching width of parent element */
	word-break : break-all /* Preserve whitespace whilst preventing element from stretching width of parent element */
}

code,
h1,
h2,
kbd,
samp {
	letter-spacing : -.025em; /* Tighten large headings and fixed-width text */
	word-spacing : -.025em /* Tighten large headings and fixed-width text */
}
code code,
code kbd,
code samp,
kbd code,
kbd kbd,
kbd samp,
samp code,
samp kbd,
samp samp,
h1 code,
h1 kbd,
h1 samp,
h2 code,
h2 kbd,
h2 samp {
	letter-spacing : inherit; /* Prevent tightened text from cascading */
	word-spacing : inherit /* Prevent tightened text from cascading */
}

sub,
sup {
	line-height : 0; /* Elements that have a ‘vertical-align’ other than baseline or a position value will expand their parent element’s line-height unless their own line-height is set to ‘0’ */
	position : relative;
	vertical-align : baseline /* Nullify common user-agent ‘sub’ and ‘super’ defaults */
}

sub {
	bottom : -.1em
}

sup {
	top : -.1em
}
/* LINKS L.V.H.A. */
a:link,
a:link:visited,
a:link:active {
	color : inherit;
	background-color : initial
}
a:link { /* Unvisited links */
	border-bottom : thin solid rgba(0, 0, 238, 1); /* Blue */
	padding-bottom : .005em;
	text-decoration : none;
	transition : color .25s ease
}
a:link:visited { /* Visited links */
	border-color : rgba(85, 26, 139, 1) /* Purple */
}
a:link:hover {
	color : rgba(0, 0, 238, 1); /* Blue */
	background-color : initial
}
a:link:visited:hover {
	color : rgba(85, 26, 139, 1); /* Purple */
	background-color : initial
}
a:link:active { /* As a link is activated. Moves the text down as though a button were depressed */
	position : relative;
	top : .1em
}

[role=banner] [role=navigation] a {
	border-width : 0
}

abbr[title],
[rel~=help] {
	cursor : help
}

:focus {
	outline : auto
}

mark {
	background : rgba(255, 248, 220, 1); /*Cornsilk */
	color : inherit
}

abbr,
abbr[title] {
	text-decoration : inherit /* Nullify common user-agent dotted underline default */
}

ins {
	text-decoration : underline
}

del {
	background-color : inherit;
	color : inherit;
	text-decoration : line-through;
	-moz-text-decoration-color : red;
	-webkit-text-decoration-color : red;
	text-decoration-color : red
}

q::after {
	content : close-quote
}

q::before {
	content : open-quote
}

br {
	content : '\A';
	white-space : pre
}

nobr {
	white-space : nowrap
}

wbr {
	content : '\200B'
}

nobr wbr {
	white-space : normal
}

blockquote mark {
	background-color : inherit;
	color : inherit;
	font-style : italic;
	margin : initial; /* Reset the margins set on mark outside of blockquotes */
	padding : initial /* Reset the padding set on mark outside of blockquotes */
}

blockquote mark::after {
	content : ']'
}

blockquote mark::before {
	content : '['
}

/* 10.3.6 Quotes */
:root:lang(en),
:not(:lang(en)) > :lang(en) {
	quotes : '“' '”' "‘" "’"
}

/* 10.3.7 Sections and headings */
article,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
nav,
section {
	display : block
}

article,
aside,
nav,
section {
	margin-bottom : 1.4rem;
	margin-top : 1.4rem
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
th,
[role=banner] {
	font-family : Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
/* George Butler Web Design—10 Definitve Web Font Stacks for designers
http://georgebutler.com/blog/typography/10-definitive-web-font-stacks-for-designers/ */
/* Transitional
(The work­horses of the serif. Easy on the eyes) */
	font-weight : inherit
}

h1,
h2,
h3 {
	line-height : 2.8rem
}

h1,
h2,
h3,
header,
footer {/* Header selector assumes that only h1–h3 appear in header elements */
	margin : 2.8rem 0 1.4rem 0
}

h1 {
	font-size : 2.55em
}

h2 {
	font-size : 2.35em
}

h3 {
	font-size : 2.15em
}

h4,
h5,
h6 {
	line-height : 1.4rem;
	margin : 1.4rem 0 0
}

h4 {
	font-size : 1.3em
}

h5 {
	font-size : 1.15em
}

h6 {
	font-size : inherit /* Same as ancestor’s font-size */
}

header h1,
header h2,
header h3 {
	margin : .7rem 0
}

header p {
	text-indent : initial
}

/* 10.3.8 Lists */
dd,
dl,
dt,
ol,
ul {
	display : block
}

dl,
ol,
ul {
	margin : 1.4rem 0 1.4rem -.9em; /* Negative margin creates space for hanging indentation */
	padding : 0
}

li {
	display : table;
	list-style : none /* Remove automatic markers */
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul { /* Remove vertical margins for nested lists */
	margin : 0
}

/*
Lists
*/

li::before {
	display : table-cell;
	padding-right : .2em;
}

ul > li::before {
	font-size : .8em
}

ul > li::before {
	content : "➢"
}

ul > li > ul > li::before {
	content : "✽"
}

ul > li > ul > li > ul > li::before {
	content : "✦"
}

ul > li > ul > li > ul > li > ul > li::before {
	content : "✯"
}

ul > li > ul > li > ul > li > ul > li > ul > li::before {
	content : "✤"
}

/** Ordered lists **/
ol > li:first-child {
	counter-reset : item
}

ol > li::before {
	content : counter(item) ". ";
	counter-increment : item;
	letter-spacing : -.025em
}

ol > li > ol > li::before {
	content : counters(item, ".") ". " /* It is necessary to specify ‘counter’ for top level ordered lists then ‘counters’ for nested ordered lists to be able to display a properly numbered ordered list within an unordered list */
}

.serial-comma > li {/* Inline style serial comma list for list items which are children of ordered or unordered lists with the class “serial-comma” */
	display : inline;
	list-style : none
}

.serial-comma > li::after {
	content : ", "
}

.serial-comma > li:nth-last-child(2)::after {
	content : " and "
}

.serial-comma > li:nth-last-child(3) ~ li:nth-last-child(2)::after {
	content : ", and "
}

.serial-comma > li:last-child::after,
.serial-comma > li:only-child::after {
	content : "."
}

/* Turn off generated content lists */

[role=navigation] li::before,
.serial-comma > li::before {
	content : ""
}

[role=navigation] ol,
.serial-comma {
	padding : 0
}

/* 10.3.9 Tables */
table {
	border-collapse : collapse;
	border-spacing : 0;
	box-sizing : border-box;
	display : table;
	margin : 1.4rem 0 1.4rem -.5rem; /* Minus margin offsets the ‘td’ and ‘th’ margins */
	text-indent : initial
}

caption {
	display : table-caption;
	text-align : inherit /* Nullify common user-agent centre alignment default */
}

colgroup,
colgroup[hidden] {
	display : table-column-group
}

col,
col[hidden] {
	display : table-column
}

tbody,
tbody[hidden] {
	display : table-row-group
}

td,
th,
td[hidden],
th[hidden] {
	display : table-cell
}

tfoot,
tfoot[hidden] {
	display : table-footer-group
}

thead,
thead[hidden] {
	display : table-header-group
}

tr,
tr[hidden] {
	display : table-row
}

colgroup[hidden],
col[hidden],
tbody[hidden],
td[hidden],
tfoot[hidden],
th[hidden],
thead[hidden],
tr[hidden] {
	visibility : collapse
}

caption,
td,
th {
	padding : 0 .5em
}

tbody,
tfoot,
thead,
table > tr {
	vertical-align : middle
}

td,
th,
tr {
	vertical-align : inherit
}

table {
	border-color : gray
}

tbody,
td,
tfoot,
th,
thead,
tr {
	border-color : inherit
}

/* 10.3.11 Form controls */
button,
input,
keygen,
option,
optgroup,
select,
textarea {
	text-indent : initial
}

textarea {
	white-space : pre-line; /* Preserve whitespace whilst preventing element from stretching width of parent element */
	word-break : normal /* Preserve whitespace whilst preventing element from stretching width of parent element */
}

button,
select,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"] {
	box-sizing : border-box
}

/* 10.3.12 The hr element */
hr {
	background : transparent linear-gradient(to right, rgba(255, 255, 255, 0)/* White */, #ccc/* Medium grey */, rgba(255, 255, 255, 0)/* White */);
	border : none; /* Nullifies common user agent default */
	color : inherit;
	height : .052em;
	position : relative;
	text-align : center
}

footer::before,
hr::before {
	background-color : rgb(250, 250, 250); /* Same as html’s background colour */
	color : inherit;
	content : "⁂";
	display : block;
	position : relative;
	text-align : center;
	top : -.5em
}

/* 10.3.13 The fieldset and legend elements */
fieldset {
	border : groove 2px;
	margin-left : 2px;
	margin-right : 2px;
	padding : .35em .625em .75em
}

legend {
	padding-left : 2px;
	padding-right : 2px
}

/* 10.4 Replaced elements */
/* 10.4.1 Embedded content */
iframe {
	border : 2px inset
}

img,
object {
	max-width : 100%;
	height : auto
}

video {
	object-fit : contain
}

/* http://jekyllrb.com/docs/templates/
/* https://github.com/mojombo/tpw/tree/master/css/syntax.css
/* “For an example stylesheet you can look at syntax.css. These are the same styles as used by GitHub and you are free to use them for your own site.” */
.c,/* Comment */
.cm,/* Comment Multiline */
.c1,/* Comment Single */
.cs,/* Comment Special */
.ge {/* Generic Emphasis */
	font-style : italic
}

.k,/* Keyword */
.o,/* Operator */
.cp,/* Comment Preproc */
.cs,/* Comment Special */
.gs,/* Generic Strong */
.kc,/* Keyword Constant */
.kd,/* Keyword Declaration */
.kp,/* Keyword Pseudo */
.kr,/* Keyword Reserved */
.kt,/* Keyword Type */
.nc,/* Name Class */
.ne,/* Name Exception */
.nf,/* Name Function */
.ow {/* Operator Word */
	font-weight : 600
}

.c,/* Comment */
.cm,/* Comment Multiline */
.c1,/* Comment Single */
.cp,/* Comment Preproc */
.cs,/* Comment Special */
.bp,/* Name Builtin Pseudo */
.gh,/* Generic Heading */
.gr,/* Generic Error */
.gt,/* Generic Traceback */
.go,/* Generic Output */
.gp,/* Generic Prompt */
.nn,/* Name Namespace */
.gu,/* Generic Subheading */
.kt,/* Keyword Type */
.nc,/* Name Class */
.m,/* Literal Number */
.mf,/* Literal Number Float */
.mh,/* Literal Number Hex */
.mi,/* Literal Number Integer */
.mo,/* Literal Number Oct */
.il,/* Literal Number Integer Long */
.s,/* Literal String */
.sb,/* Literal String Backtick */
.sc,/* Literal String Char */
.sd,/* Literal String Doc */
.s2,/* Literal String Double */
.se,/* Literal String Escape */
.sh,/* Literal String Heredoc */
.si,/* Literal String Interpol */
.sx,/* Literal String Other */
.s1,/* Literal String Single */
.na,/* Name Attribute */
.no,/* Name Constant */
.ni,/* Name Entity */
.nv,/* Name Variable */
.vc,/* Name Variable Class */
.vg,/* Name Variable Global */
.vi,/* Name Variable Instance */
.nb,/* Name.Builtin */
.ne,/* Name Exception */
.nf,/* Name Function */
.nt,/* Name Tag */
.w,/* Text.Whitespace */
.sr,/* Literal String Regex */
.ss {/* Literal String Symbol */
	background-color : inherit
}

.c,/* Comment */
.cm,/* Comment Multiline */
.c1 {/* Comment Single */
	color : #998
}

.err {/* Error */
	background-color : #e3d2d2;
	color : #a61717
}

.cp,/* Comment Preproc */
.cs,/* Comment Special */
.bp,/* Name Builtin Pseudo */
.gh {/* Generic Heading */
	color : #999
}

.gd,/* Generic Deleted */
.gi {/* Generic Inserted */
	color : #000
}

.gd {/* Generic Deleted */
	background-color : #fdd
}

.gd .x {/* Generic Deleted Specific */
	background-color : #faa;
	color : inherit
}

.gr,/* Generic Error */
.gt {/* Generic Traceback */
	color : #a00
}

.gi {/* Generic Inserted */
	background-color : #dfd
}

.gi .x {/* Generic Inserted Specific */
	background-color : #afa;
	color : inherit
}

.go {/* Generic Output */
	color : #888
}

.gp,/* Generic Prompt */
.nn {/* Name Namespace */
	color : #555
}

.gu {/* Generic Subheading */
	color : #aaa
}

.kt,/* Keyword Type */
.nc {/* Name Class */
	color : #458
}

.m,/* Literal Number */
.mf,/* Literal Number Float */
.mh,/* Literal Number Hex */
.mi,/* Literal Number Integer */
.mo,/* Literal Number Oct */
.il {/* Literal Number Integer Long */
	color : #099
}

.s,/* Literal String */
.sb,/* Literal String Backtick */
.sc,/* Literal String Char */
.sd,/* Literal String Doc */
.s2,/* Literal String Double */
.se,/* Literal String Escape */
.sh,/* Literal String Heredoc */
.si,/* Literal String Interpol */
.sx,/* Literal String Other */
.s1 {/* Literal String Single */
	color : #d14
}

.na,/* Name Attribute */
.no,/* Name Constant */
.ni,/* Name Entity */
.nv,/* Name Variable */
.vc,/* Name Variable Class */
.vg,/* Name Variable Global */
.vi {/* Name Variable Instance */
	color : #008080
}

.nb {/* Name.Builtin */
	color : #0086B3
}

.ne,/* Name Exception */
.nf {/* Name Function */
	color : #900
}

.nt {/* Name Tag */
	color : #000080
}

.w {/* Text.Whitespace */
	color : #bbb
}

.sr {/* Literal String Regex */
	color : #009926
}

.ss {/* Literal String Symbol */
	color : #990073
}