@namespace url(http://www.w3.org/1999/xhtml);

/* 10.3 Non-replaced elements */
/* 10.3.1 Hidden elements */
[hidden],
area,
base,
datalist,
head,
link,
meta,
param,
script,
source,
style,
template,
track,
title {
	display : none
}

embed[hidden] {
	display : inline;
	height : 0;
	width : 0
}

/* 10.3.2 The page */
html,
body {
	display : block
}
html {
	color : rgb(51,51,51);/* Very dark gray */
	font : normal normal normal 125%/1.4 serif;
	margin : 0;
	padding : 0
}
body {
	margin : 0 auto;
	max-width : 40em; /* This is for a single column, can be changed for wider displays */
	padding : 1.4em /* Padding sufficient to create space on the left for list markers */
	}

/* 10.3.3 Flow content */
address,
blockquote,
div,
figure,
figcaption,
footer,
form,
header,
hr,
legend,
p,
pre {
	display : block
}

address,
p,
figcaption {
	margin-bottom : 0;
	margin-top : 0
}
blockquote,
div,
figure,
footer,
form,
header,
hr,
legend,
pre {
	margin-bottom : 1.4rem;
	margin-top : 1.4rem
}

blockquote,
figure {
	margin-left : 1.4rem;
	margin-right : 1.4rem
}

address {
	font-family : inherit; /* Nullify common user-agent monospace default */
	font-style : inherit /* Nullify common user-agent italic default */
}

pre {
	font-family : inherit; /* Nullify common user-agent monospace default pre might be used for  */
	white-space : pre-line; /* Preserve whitespace whilst preventing element from stretching width of parent element */
	word-break : normal /* Preserve whitespace whilst preventing element from stretching width of parent element */
}

/* 10.3.4 Phrasing content */

cite,
dfn,
em,
var {
	font-style : italic
}

strong {
	font-weight : bolder
}

code,
kbd,
samp {
	font-family : monospace;
	white-space : pre-line; /* Preserve whitespace whilst preventing element from stretching width of parent element */
	word-break : normal /* Preserve whitespace whilst preventing element from stretching width of parent element */
}

sub {
	vertical-align : sub
}

sup {
	vertical-align : super
}

sub,
sup {
	font-size : smaller;
	line-height : normal
}

:link {
	color : #0000EE /* Blue */
}

:visited {
	color : #551A8B /* Purple */
}

:link,
:visited {
	text-decoration : underline
}

[rel~=help] {
	cursor : help
}

:focus {
	outline : auto
}

mark {
	background : yellow;
	color : black
} /* this color is just a suggestion and can be changed based on implementation feedback */

abbr[title],
acronym[title] {
	text-decoration : dotted underline
}

ins {
	text-decoration : underline
}

del {
	text-decoration : line-through
}

q::after {
	content : close-quote
}

q::before {
	content : open-quote
}

br {
	content : '\A';
	white-space : pre
}

nobr {
	white-space : nowrap
}

wbr {
	content : '\200B'
}

nobr wbr {
	white-space : normal
}

blockquote mark {
	background-color : inherit;
	color : inherit;
	font-style : italic
}

blockquote mark::after {
	content : ']'
}

blockquote mark::before {
	content : '['
}

/* 10.3.6 Quotes */
:root:lang(en),
:not(:lang(en)) > :lang(en) {
	quotes : '\201c' '\201d' '\2018' '\2019'
} /* “ ” ‘ ’ */

/* 10.3.7 Sections and headings */
article,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
section {
	display : block
}

h1 {
	font-size : 2em;
	font-weight : bold;
	margin-bottom : .67em;
	margin-top : .67em
}

h2 {
	font-size : 1.50em;
	font-weight : bold;
	margin-bottom : .83em;
	margin-top : .83em
}

h3 {
	font-size : 1.17em;
	font-weight : bold;
	margin-bottom : 1em;
	margin-top : 1em
}

h4 {
	font-size : 1em;
	font-weight : bold;
	margin-bottom : 1.33em;
	margin-top : 1.33em
}

h5 {
	font-size : .83em;
	font-weight : bold;
	margin-bottom : 1.67em;
	margin-top : 1.67em
}

h6 {
	font-size : .67em;
	font-weight : bold;
	margin-bottom : 2.33em;
	margin-top : 2.33em
}

:matches(article, aside, nav, section) h1 {
	font-size : 1.50em;
	margin-bottom : .83em;
	margin-top : .83em
}

:matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
	font-size : 1.17em;
	margin-bottom : 1em;
	margin-top : 1em
}

:matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
	font-size : 1em;
	margin-bottom : 1.33em;
	margin-top : 1.33em
}

:matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
	font-size : .83em;
	margin-bottom : 1.67em;
	margin-top : 1.67em
}
:matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
	font-size : .67em;
	margin-bottom : 2.33em;
	margin-top : 2.33em
}

/* 10.3.8 Lists */
dd,
dl,
dt,
ol,
ul {
	display : block
}

li {
	display : list-item
}

dl,
ol,
ul {
	margin-bottom : 1.4rem;
	margin-top : 1.4rem
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	margin-bottom : 0;
 	margin-top : 0
}

dd {
	margin-left : 1.4rem
}

ol,
ul {
	padding-left : 40px
}

ol {
	list-style-type : decimal
}

ul {
	list-style-type : disc
}

ol ul,
ul ul {
	list-style-type : circle
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
	list-style-type : square
}

ol[type="1"],
li[type="1"] {
	list-style-type : decimal
}

ol[type=a],
li[type=a] {
	list-style-type : lower-alpha
}

ol[type=A],
li[type=A] {
	list-style-type : upper-alpha
}

ol[type=i],
li[type=i] {
	list-style-type : lower-roman
}

ol[type=I],
li[type=I] {
	list-style-type : upper-roman
}

ul[type=disc],
li[type=disc] {
	list-style-type : disc
}

ul[type=circle],
li[type=circle] {
	list-style-type : circle
}

ul[type=square],
li[type=square] {
	list-style-type : square
}

/* 10.3.9 Tables */
table {
	display : table
}

caption {
	display : table-caption
}

colgroup,
colgroup[hidden] {
	display : table-column-group
}

col,
col[hidden] {
	display : table-column
}

thead,
thead[hidden] {
	display : table-header-group
}

tbody,
tbody[hidden] {
	display : table-row-group
}

tfoot,
tfoot[hidden] {
	display : table-footer-group
}

tr,
tr[hidden] {
	display : table-row
}
td,
th,
td[hidden],
th[hidden] {
	display : table-cell
}

colgroup[hidden],
col[hidden],
thead[hidden],
tbody[hidden],
tfoot[hidden],
tr[hidden],
td[hidden],
th[hidden] {
	visibility : collapse
}

table {
	border-collapse : separate;
	border-spacing : 2px;
	box-sizing : border-box;
	text-indent : initial
}

td,
th {
	padding : 1px
}

th {
	font-weight : bold
}

thead,
tbody,
tfoot,
table > tr {
	vertical-align : middle
}

tr,
td,
th {
	vertical-align : inherit
}

table,
td,
th {
	border-color : gray
}

thead,
tbody,
tfoot,
tr {
	border-color : inherit
}

/* 10.3.11 Form controls */
input,
select,
option,
optgroup,
button,
textarea,
keygen {
	text-indent : initial
}

textarea {
	white-space : pre-line; /* Preserve whitespace whilst preventing element from stretching width of parent element */
	word-break : normal /* Preserve whitespace whilst preventing element from stretching width of parent element */
}

input[type="radio"],
input[type="checkbox"],
input[type="reset"],
input[type="button"],
input[type="submit"],
select,
button {
	box-sizing : border-box
}

/* 10.3.12 The hr element */
hr {
	background : linear-gradient(to right, rgba(255, 255, 255, 0)/* White */, #ccc/* Medium gray */, rgba(255, 255, 255, 0)/* White */);
	border : none; /* Nullifies common user agent defaults */
    height : .052em;
    position : relative;
	text-align : center
}

hr::before {
	background-color : white;
	content : "⁂";
	position : relative;
	top : -.5em
}

/* 10.3.13 The fieldset and legend elements */
fieldset {
	border : groove 2px;
	margin-left : 2px;
	margin-right : 2px;
	padding : .35em .625em .75em
}

legend {
	padding-left : 2px;
	padding-right : 2px
}

/* 10.4 Replaced elements */
/* 10.4.1 Embedded content */
iframe {
	border : 2px inset
}

video {
	object-fit : contain
}